
<style>
    .layout-selection {
        width: 98%;
        font-size: 1.1em;
        height: 38px;
        background-color: #161b1d;
        color: white;
        border: none;
        font-weight: 100;
    }

    .layout-selection-bg {
        margin: 0px;
        background-color: #161b1d;
    }

    .house-type-selection {
        font-size: 1.1em;
        margin-left: 17px;
        height: 25px;
        width: 140px;
        margin-top: 8px;
        background-color: #363e45;
        color: white;
        border: none;
        font-weight: 100;
    }
    .house-type-selection-bg{
        height: 38px;background-color: #23282f;
    }
    .left-pane-config{
        background-color: #161b1d !important;color:#d8dee3;height: 100%;
    }
    .zero-padding{
        padding: 0px;
    }
    .house-type-config{
        margin-left: 0px;font-weight: 100;text-align: right;
    }
    .house-type-config-color{
        color: #999!important;
    }
    .house-type-config-input{
        margin-left: 8px;padding: 8px;height: 22px;border: 1px solid !important;border-color: #363e45 !important;text-align: right;width: 50px;background-color: #161b1d;border: 0px;color: white;font-weight: 100;
    }
    .middle-pane-config{
        background: #23282f !important;color:#d8dee3;height: 100%;
    }
    .middle-pane-config-topbar{
        height: 38px;
    }
    .middle-pane-config-topbar button{
        height: 100%;width: 38px;background-color: #23282f;color: white;border: 0;border-right: 1px solid;border-color: #363e45;
    }
    hr{
        background-color: #363e45;
    }
    .window{
        padding: 0;text-align: right;padding-right: 8px;padding-top: 3px;
    }
</style>

<div class="house-type-selection-bg">
    <select class="house-type-selection">
        <option *ngFor="let house of houseType" [value]="house.houseTypeId">
            <img src="../../../../assets/images/cns-1.jpg" width="20px" height="20px"/>
        {{ house.houseTypeName }}
        </option>
    </select>
</div>
<nav id="sidebar" style="width: 100%;">
    <form name="drawHomeEntryForm" [formGroup]="drawHomeEntryForm">
        <ul class="list-unstyled components house-type-config">
            <li>
                <a class="house-type-config-color">
                Width
                    <input formControlName="width" type="text" class="house-type-config-input">
                </a>
            </li>
            
            <li>
                <a class="house-type-config-color">
                Length
                    <input formControlName="length" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                    Floor Thickness
                    <input formControlName="floorThickness" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                    Wall Thickness
                    <input formControlName="wallThickness" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                    Wall Height
                    <input formControlName="wallHeight" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                    NB Floors
                    <input formControlName="nbFloors" [value]="semiDetachedGableFlNo" (blur)="onNbFloors(3)" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                    Roof Height
                    <input formControlName="roofHeight" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                Roof Thickness
                    <input formControlName="roofThickness" type="text" class="house-type-config-input">
                </a>
            </li>
        </ul>
        <!-- <div>
            {{testJson |json}}
        </div> -->
    </form>
</nav>

