
<div class="house-type-selection-bg">
    <select class="house-type-selection">
        <option *ngFor="let house of houseType" [value]="house.houseTypeId">
            <img src="../../../../assets/images/cns-1.jpg" width="20px" height="20px"/>
        {{ house.houseTypeName }}
        </option>
    </select>
</div>
<nav id="sidebar" style="width: 100%;">
    <form name="drawHomeEntryForm" [formGroup]="drawHomeEntryForm">
        <ul class="list-unstyled components house-type-config">
            <li>
                <a class="house-type-config-color">
                Width
                    <input formControlName="width" type="text" class="house-type-config-input">
                </a>
            </li>
            
            <li>
                <a class="house-type-config-color">
                Length
                    <input formControlName="length" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                    Floor Thickness
                    <input formControlName="floorThickness" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                    Wall Thickness
                    <input formControlName="wallThickness" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                    Wall Height
                    <input formControlName="wallHeight" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                    NB Floors
                    <input formControlName="nbFloors" [value]="semiDetachedGableFlNo" (blur)="onNbFloors(3)" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                    Roof Height
                    <input formControlName="roofHeight" type="text" class="house-type-config-input">
                </a>
            </li>
            <li>
                <a class="house-type-config-color">
                Roof Thickness
                    <input formControlName="roofThickness" type="text" class="house-type-config-input">
                </a>
            </li>
        </ul>
    </form>
</nav>

