<ngx-loading-bar [height]="'5px'" [color]="'green'" [diameter]="'30px'"></ngx-loading-bar>
<div id="divbody" class="container-fluid py-5">

    <div class="row">
        <div class="col-md-12">
            <!-- <pre>{{parentData | json}}</pre> -->
            <!-- <button (click)="importPostcods()" 
                    class="btn-search" 
                    type="button">Import</button> -->

        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 mx-auto category-padding">
            <ul>
                <li class="list-group shadow customshadaw category-margin">
                    <div class="container category-box-padding">
                        <div id="accordion" class="accordion">
                            <div class="card mb-0">
                                <ul class="itemcategory" *ngFor="let item of parentData; index as i;">
                                    <div class="card-header collapsed" data-toggle="collapse"
                                        [attr.data-target]="'#test' + i">
                                        <a class="card-title">{{item.itemCategoryName}}</a>
                                    </div>
                                    <li (click)="searchCategory(item2)" class="subcategory"
                                        *ngFor="let item2 of item.children;">
                                        <div id="test{{i}}" class="card-body collapse category-item-padding"
                                            data-parent="#accordion">
                                            <p>{{item2.itemCategoryName}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 mx-auto">
            <div class="row">
                <div class="col-md-12">
                    <div class="s012">
                        <form>
                            <div class="inner-form">
                                <div class="main-form" id="main-form">
                                    <div class="row second">
                                        <div class="input-wrap trade-box-config">
                                            <div class="icon-wrap">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                                    </path>
                                                </svg>
                                            </div>
                                            <div class="input-field">
                                                <label class="search-label">Trade</label>
                                                <ng-autocomplete name="searchAutoComplete" [data]="data"
                                                    [searchKeyword]="keyword" [(ngModel)]="clickedCategory"
                                                    placeHolder="e.g Electrician" (selected)='selectEvent($event)'
                                                    (inputChanged)='onChangeSearch($event)'
                                                    (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate">
                                                </ng-autocomplete>
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.itemCategoryName"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="input-wrap trade-box-config2">
                                            <div class="icon-wrap">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                                    </path>
                                                </svg>
                                            </div>
                                            <div class="input-field">
                                                <label class="search-label">Postcode</label>
                                                <input type="text" placeholder="e.g M 30" [value]="postcode"
                                                    (input)='postcode = $event.target.value' id="postcode" />
                                            </div>
                                        </div>
                                        <div class="row last">
                                            <button (click)="getSearchItemcategoryList()" class="btn-search"
                                                type="button">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="main-lint-config">
                        <li *ngFor="let item of tradesman" class="list-group shadow customshadaw">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row image-config">
                                                <div class="col-md-12">
                                                    <section class="sectionpedding">
                                                        <img class="image-box"
                                                            src="../../../../../assets/tradesman/{{item.image}}.jpg">
                                                    </section>
                                                </div>

                                                <button type="button" class="tooltip">
                                                    <span class="tooltiptext">Tooltip text</span>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- routerLink="/tradesmen-detail/{{item.tradesmanId}}" -->
                                        <div class="col-md-7">
                                            <div class="row detail-box">
                                                <div class="col-md-12">
                                                    <div class="_25ygu title-spacing">
                                                        <h3 class="_2WWZB title-config">
                                                            <a [routerLink]="['/tradesmen-detail',item.tradesmanId]"
                                                                target="_blank" class="middleheaderbox company-title"
                                                                tabindex="0">
                                                                {{item.companyName}}
                                                            </a>
                                                        </h3>
                                                        <div class="col-md-12 skill-padding">
                                                            <span class="tags elips">
                                                                Skills: {{item.tags}}
                                                            </span>
                                                            <a class="seeall tooltip-ex tooltip-config" href="#">
                                                                <span>See all</span>
                                                                <span class="tooltip-ex-text">
                                                                    <span>{{item.tags}}</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 main-content">
                                                    <ul class="main-content-config">
                                                        <li>
                                                            <div [innerHTML]="item.serviceDescription"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 lastbox">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button (click)="addToFavorite(item)" class="btn pull-right favorit-button">
                                                <mat-icon>favorite</mat-icon>
                                            </button>
                                            <button class="btn pull-right share-button">
                                                <mat-icon>share</mat-icon>
                                            </button>
                                            <button class="btn pull-right home-button">
                                                <mat-icon>home</mat-icon>
                                            </button>
                                        </div>
                                        <div class="col-md-12 text-center review-config">
                                            <span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span><a class="review-text" [routerLink]="'/review'"
                                                        target="_blank">(193 reviews)</a> </span>
                                            </span>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <span>
                                                <span class="material-icons location">
                                                    location_on
                                                </span>
                                                <span class="location-text">Based in Salford (1.6 Miles)</span>
                                            </span>
                                        </div>

                                        <div class="col-md-12 text-center detail">
                                            <a mat-button target="_blank"
                                                [routerLink]="['/tradesmen-detail',item.tradesmanId]">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row communication-box">
                                <div class="col-md-12 communication-bg">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                            <span class="sms-icon-color"
                                                (click)="sendSms(smsVal.value, item.userProfile.mobilNo)"><i
                                                    class="fa fa-comment"></i></span>
                                            <input class="sms" type="text" #smsVal placeholder="SMS">
                                        </div>
                                        <div class="col-md-3">
                                            <span class="email"><i class="fa fa-envelope"></i></span>
                                            <span class="email-font">Email</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>