<!-- <ngx-loading-bar [height]="'5px'" [color]="'green'" [diameter]="'30px'"></ngx-loading-bar> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 top-rular-bg">

        </div>
        <div class="col-md-4 top-rular-bg">
            <div class="top-tool">
                <button class="btn btn-success top-pointer">
                    <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                </button>

                <button class="top-crop">
                    <i class="fa fa-crop" aria-hidden="true"></i>
                </button>
                <select class="zoom-size">
                    <option *ngFor="let size of zoomSize">
                        {{ size }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4 top-rular-bg">
            <button class="btn btn-success btn-export">
                <i class="fa fa-upload" aria-hidden="true"></i>
                Export
            </button>
            <button class="btn-download">
                <i class="fa fa-download" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="row main-window-margin">
        <div class="col-md-12 main-view">
            <ejs-splitter #splitterInstance id="nested-splitter" (created)='onCreated()' height='100%' width='100%'>
                <e-panes>
                    <e-pane>
                        <ng-template #content>
                            <div id='vertical_splitter' class="vertical_splitter">
                                <div>
                                    <ejs-splitter #splitterInstance id="nested-splitter" (created)='onCreated()'
                                        height='100%' width='100%'>
                                        <e-panes>
                                            <!-- For left pane -->
                                            <e-pane size='15%'>
                                                <ng-template #content>
                                                    <tvs-left-pane></tvs-left-pane>
                                                </ng-template>
                                            </e-pane>
                                            <!-- For middle pane -->
                                            <e-pane>
                                                <ng-template #content>
                                                    <tvs-middle-pane></tvs-middle-pane>
                                                </ng-template>
                                            </e-pane>
                                            <!-- For right pane -->
                                            <e-pane size='50%'>
                                                <ng-template #content>
                                                    <tvs-template-display-pane></tvs-template-display-pane>
                                                </ng-template>
                                            </e-pane>
                                        </e-panes>
                                    </ejs-splitter>
                                </div>
                                <!-- For Cost Calculation -->
                                <div>
                                    <ejs-splitter #splitterInstance id="nested-splitter" (created)='onCreated()'
                                        height='100%' width='100%'>
                                        <e-panes>
                                            <e-pane size='100%'>
                                                <ng-template #content>
                                                    <div class="content cost-color">
                                                        <tvs-material-cost [childMessage]="parentMessageBasic">
                                                        </tvs-material-cost>
                                                    </div>
                                                </ng-template>
                                            </e-pane>
                                        </e-panes>
                                    </ejs-splitter>
                                </div>
                            </div>
                        </ng-template>
                    </e-pane>
                </e-panes>
            </ejs-splitter>
        </div>
    </div>
    
</div>