<div style="background:#171b1f !important; height: 100%;">
    <div class="container" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div class="col-md-12">
                <div class="card-body" style="background: #000000;height: 92%;border: 1px solid #363e45;margin-top: 15px;margin-bottom: 15px;">
                    <!-- <iframe style="height: 100%; width: 100%;border: 0;" 
                        src="//sharecad.org/cadframe/load?url=https://tvs-renovation.web.app/assets/dwg-template.dwg" 
                        scrolling="no"></iframe> -->

                    <!-- <iframe style="height: 100%; width: 100%;border: 0;" 
                    src="//sharecad.org/cadframe/load?url=https://s3-eu-west-2.amazonaws.com/house-designs/1600946627.03.igs" 
                    scrolling="no"></iframe> -->

                    <iframe style="height: 100%; width: 100%;border: 0;" 
                    src="//sharecad.org/cadframe/load?url=https://s3-eu-west-2.amazonaws.com/house-designs/semi-detached-gable-floor-4.igs" 
                    scrolling="no"></iframe>

                    <!-- <iframe style="height: 100%; width: 100%;border: 0;" 
                    src="//sharecad.org/cadframe/load?url=https://tvs-renovation.web.app/assets/house_design_template.iges" 
                    scrolling="no"></iframe> -->
                </div>
            </div>
        </div>
    </div>
</div>