<!-- <footer id="footer">
    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>2020</span></strong>. All Rights Reserved
        </div>
    </div>
</footer> -->

<footer class="site-footer">

    <div class="site-map container">
        <div class="column">
            <h2 class="heading heading-small-alt">Homeowners</h2>
            <ul class="unstyled">
                <li><a href="/postajob" rel="nofollow" title="Post a job so our tradesmen can quote!">Post a job</a></li>
                <li><span data-jslink="/how-it-works" title="Find out how MyBuilder can help you find the right builder" class="jslink">How it works</span></li>
                <li><a href="/builders/in/uk" title="Search our list of tradesmen and builders">Find
                                                                                                                                                                                                                           tradesmen</a>
                </li>
                <li><a href="/help/faq-finding-builders" title="Find answers to frequently asked questions about how the site works">Homeowner support</a></li>
                <li><a href="/competitions/" title="Find out more about the latest MyBuilder competitions">Competitions</a></li>
            </ul>
        </div>
        <div class="column">
            <h2 class="heading heading-small-alt">Advice centre</h2>
            <ul class="unstyled">
                <li><a href="/advice" title="Tips, recommendations, and advice on hiring tradesmen and getting work done on your home">Advice guides</a></li>
                <li><a href="/advice/hiring" title="How to pick the right tradesman for your job">Hiring advice</a></li>
                <li><a href="/pricing-guides" title="Learn about the likely price ranges for your job.">Pricing guides</a></li>
                <li><span data-jslink="/advice/trade-jargon" title="Learn about specific words and terms used by tradesmen" class="jslink">Trade jargon</span></li>
                <li><span data-jslink="/questions/all" title="Ask any question to our tradesmen" class="jslink">Ask a tradesman</span></li>
            </ul>
        </div>
        <div class="column">
            <h2 class="heading heading-small-alt">Tradesmen</h2>
            <ul class="unstyled">
                <li><a href="/register-as-tradesman" title="Sign up to start getting work!">Trade sign up</a></li>
                <li><a href="/trade-hub" title="Articles and information for tradespeople">Trade hub</a></li>
                <li><a href="/jobs/building/local" title="Search our list of jobs for builders">Completed jobs</a></li>
                <li><span data-jslink="/recent-feedback" title="See the recent feedback about our tradesmen" class="jslink">Recent feedback</span></li>
                <li><a href="/help/faq-finding-work" title="Find answers to frequently asked questions about how the site works">Tradesman support</a></li>
            </ul>
        </div>
        <div class="column">
            <h2 class="heading heading-small-alt">Company</h2>
            <ul class="unstyled">
                <li><a href="/aboutus" title="Find out more about MyBuilder">Our mission</a></li>
                <li><span data-jslink="/testimonials" title="Hear the great things people say about our tradesmen" class="jslink">Testimonials</span></li>
                <li><a href="https://careers.mybuilder.com" title="Come work with MyBuilder!">Careers</a></li>
                <li><span data-jslink="/contact-us" title="Get in touch" class="jslink">Contact us</span></li>
                <li><a href="/blog" title="Read our blog">Blog</a></li>
            </ul>
        </div>




        
        

          
    
    </div>

    <div class="social-and-legal" style="background-color: #37517e;">
        <div class="container">
            <p  id="footer" class="container footer-bottom clearfix">
                <span>© 2008-2020 MyBuilder Limited </span>
                <span class="jslink" title="Read the Terms and condition of using MyBuilder" data-jslink="/terms-of-use">Terms and conditions </span>
                <span class="jslink" data-jslink="/privacy-notice">Privacy notice </span>
                <span class="jslink" data-jslink="/cookie-list">Cookies </span>
                <a class="jslink" href="/sitemap">Sitemap </a>
                <br>Registered in England No. 05272398. UK VAT Registered: 850 4121 63
            </p>
        </div>
    </div>

</footer>