    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 col-sm-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <input type="text" placeholder="Your service">
                            <input type="text" placeholder="Zip Code">
                            <button>Search</button>
                            <h1>Committed
                                to <span>Superior</span> Quality
                                and Results</h1>
                            <p>Moving male there under air air beast lesser creeping saying wherein two void can' ness saw set meat our. Whose give day. Morning own fifth from Were moved darkness. Female bring abundantly and research  </p>
                            <a href="#" class="btn_1">View project </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->