.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  /* min-width: 250px; */
  /* max-width: 250px; */
  /* min-height: 100vh; */
}

.e-splitter.e-splitter-horizontal, .e-splitter.e-splitter-vertical {
  /* background-color: #fff; */
  background-color: #161b1d !important;
  border: none;
  color: wheat;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    /* background: #7386D5; */
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 3px;
    font-size: 1.0em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #23282f;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}






p {
    font-family: Lato;
  }

  .e-splitter.e-splitter-horizontal, .e-splitter.e-splitter-vertical{
    height: 100% !important;
  }
  .e-splitter.e-splitter-horizontal .e-pane.e-static-pane, .e-splitter.e-splitter-vertical .e-pane.e-static-pane{
     flex-basis: 60% !important; 
  }

  .e-splitter.e-splitter-horizontal .e-pane.e-scrollable, .e-splitter.e-splitter-vertical .e-pane.e-scrollable{
    overflow: hidden !important;
  }

  .e-splitter.e-splitter-horizontal .e-pane.e-pane-horizontal, .e-splitter.e-splitter-vertical .e-pane.e-pane-horizontal {
    overflow: hidden !important;
  }
  
  .e-splitter .e-split-bar.e-split-bar-horizontal {
    background: #23282f;
    border: 5px solid;
    border-color: #23282f;
}


  .footer,
.push {
  height: 50px;
}

  .h3 {
    font-size: 14px;
    margin: 4px;
  }
  
  .content {
    padding: 9px;
  }
  
  .e-splitter .e-splitter.e-splitter.e-splitter-horizontal {
    /* background: black !important; */
    border: none;
}