
<div class="middle-pane-config">
    <div class="content zero-padding">
        <div class="row middle-pane-config-topbar">
            <div class="col-md-4">
                <button>
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                </button>
                <button>
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-md-8">
                
            </div>
        </div>
        <div class="row layout-selection-bg">
            <div class="col-md-12">
                <select class="layout-selection"
                        #mySelect
                        (change)='onOptionsSelected(mySelect.value)'>
                    <option>User_Default</option>
                    
                    <!-- <option class='option' 
                        *ngFor='let option of displayHouseTypeLayout' 
                        [value]="option.houseTypeLayoutId">{{option.layoutName}}
                    </option> -->
                </select>
            </div>
        </div>
        <hr>

        <div class="row" style="margin: 0px;">
            <div class="col-md-2 window">
                <span>
                    Window
                </span>
            </div>
            <div class="col-md-4" style="padding: 0;">
                <div style="height: 40px;background-color: #23282f;">
                    <select style="width: 98%;font-size: 1.1em;height: 25px;background-color: #363e45;color: white;border: none;font-weight: 100;" >
                    <option>Front</option>
                        <option>Back</option>
                        <option>Left</option>
                        <option>Right</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3" style="padding: 0;">
                <div style="height: 40px;background-color: #23282f;">
                    <select style="width:98%;font-size: 1.1em;height: 25px;background-color: #363e45;color: white;border: none;font-weight: 100;" >
                    <option>Wood</option>
                        <option>Steel</option>
                        <option>Glass</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3" style="padding: 0;">
                <input type="number" value="2" style="height: 25px;border: 1px solid !important;border-color: #363e45 !important;text-align: right;width: 35px;background-color: #161b1d;border: 0px;color: white;font-weight: 100;">x
                <input type="number" value="2" style="height: 25px;border: 1px solid !important;border-color: #363e45 !important;text-align: right;width: 35px;background-color: #161b1d;border: 0px;color: white;font-weight: 100;">
                <button style="width: 20px;background-color: #363e45;border: 0px;color: white;font-weight: 100;margin-left: 2px;border: 1px solid !important;border-color: #363e45 !important;">+</button>
            </div>
        </div>
        <div class="row" style="margin: 0px;">
            <div class="col-md-11" style="text-align: right;padding: 0;">
                <p style="margin: 0">
                    2.5x3 Foot- Front- Glass- Window
                </p>
            </div>
            <div class="col-md-1" style="text-align: left;padding: 0;padding-left: 7px;padding-top: 2px;">
                <i class="fa fa-trash" aria-hidden="true" style="color: #999;cursor: pointer;"></i>
            </div>
        </div>
        <div class="row" style="margin: 0px;">
            <div class="col-md-11" style="text-align: right;padding: 0;">
                <p style="margin: 0">
                    2.5x3 Foot- Back- Glass- Window
                </p>
            </div>
            <div class="col-md-1" style="text-align: left;padding: 0;padding-left: 7px;padding-top: 2px;">
                <i class="fa fa-trash" aria-hidden="true" style="color: #999;cursor: pointer;"></i>
            </div>
        </div>
        
        <hr>

        <div class="row" style="margin: 0px;">
            <div class="col-md-2 window">
                <span>
                    Door
                </span>
            </div>
            <div class="col-md-4" style="padding: 0;">
                <div style="height: 40px;background-color: #23282f;">
                    <select style="width: 98%;font-size: 1.1em;height: 25px;background-color: #363e45;color: white;border: none;font-weight: 100;" >
                    <option>Front</option>
                        <option>Back</option>
                        <option>Left</option>
                        <option>Right</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3" style="padding: 0;">
                <div style="height: 40px;background-color: #23282f;">
                    <select style="width:98%;font-size: 1.1em;height: 25px;background-color: #363e45;color: white;border: none;font-weight: 100;" >
                    <option>Wood</option>
                        <option>Steel</option>
                        <option>Glass</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3" style="padding: 0;">
                <input type="number" value="2" style="height: 25px;border: 1px solid !important;border-color: #363e45 !important;text-align: right;width: 35px;background-color: #161b1d;border: 0px;color: white;font-weight: 100;">x
                <input type="number" value="2" style="height: 25px;border: 1px solid !important;border-color: #363e45 !important;text-align: right;width: 35px;background-color: #161b1d;border: 0px;color: white;font-weight: 100;">
                <button style="width: 20px;background-color: #363e45;border: 0px;color: white;font-weight: 100;margin-left: 2px;border: 1px solid !important;border-color: #363e45 !important;">+</button>
            </div>
        </div>
        <div class="row" style="margin: 0px;">
            <div class="col-md-11" style="text-align: right;padding: 0;">
                <p style="margin: 0">
                    7x4 Foot- Front- Glass- Door
                </p>
            </div>
            <div class="col-md-1" style="text-align: left;padding: 0;padding-left: 7px;padding-top: 2px;">
                <i class="fa fa-trash" aria-hidden="true" style="color: #999;cursor: pointer;"></i>
            </div>
        </div>
        <div class="row" style="margin: 0px;">
            <div class="col-md-11" style="text-align: right;padding: 0;">
                <p style="margin: 0">
                    7x4 Foot- Back- Glass- Door
                </p>
            </div>
            <div class="col-md-1" style="text-align: left;padding: 0;padding-left: 7px;padding-top: 2px;">
                <i class="fa fa-trash" aria-hidden="true" style="color: #999;cursor: pointer;"></i>
            </div>
        </div>
        
        
        <hr>
        <div class="row" style="margin-left: -33px;margin-right: -15px;">
            <div class="col-md-12">
                
                <button (click)="saveData()" class="btn btn-success" style="font-size: 15px;padding-top: 4px;padding-bottom: 4px;background: #528400;bottom: 0px;bottom: 6px;margin-left: 20px;text-align: right;">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
                <button (click)="saveData()" class="btn btn-success" style="font-size: 15px;padding-top: 4px;padding-bottom: 4px;background: #528400;bottom: 0px;bottom: 6px;margin-left: 20px;text-align: right;">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Update
                </button>
                <button (click)="saveData()" class="btn btn-success" style="font-size: 15px;padding-top: 4px;padding-bottom: 4px;background: #528400;bottom: 0px;bottom: 6px;margin-left: 20px;text-align: right;">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
