<style>
  .space{
    line-height: 27px;
  }
  .lidefaule{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  .lidefaule :hover{
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mt-4">{{adviceCenterPost.title}}</h1>
      <p class="lead">
        by
        <a routerLink="/advice-center-author">{{adviceCenterPost.authorName}}</a>
        Welcome to Rockfield
      </p>
      <hr>
      <p>Posted on {{adviceCenterPost.createDate | date: 'MMM-dd-yyyy'}}</p>
      <hr>
      <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->
      <img class="img-fluid rounded" src="../../../../../assets/img/renovation-blog.jpg" alt="">
      <hr>
      <div [innerHTML]="adviceCenterPost.postText"></div>
      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form name="postCommentEntryForm" [formGroup]="postCommentEntryForm">
            <div class="form-group">
              <textarea formControlName="comment" class="form-control" rows="3"></textarea>
            </div>
            <button (click)="saveComment()" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>


      <div class="media mb-4" *ngFor="let comment of adviceCenterPost.adviceCenterPostComment">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">{{comment.user.userName}}</h5>
          {{comment.comment}}
        </div>
      </div>

      <!-- <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

        </div>
      </div> -->

    </div>
    <div class="col-md-4">
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search for...">
            <span class="input-group-append">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <ul class="list-unstyled mb-0" style="list-style: circle;">
                <li (click)="getAdviceCenterPost(title.adviceCenterId)" class="space lidefaule" *ngFor="let title of adviceCenterTitleList | filter: searchText;">
                  <a>{{title.title}}</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
      <!-- <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div> -->
    </div>
  </div>
</div>