.chaildnev{
    display: block;
    position: relative;
    color: #fff;
    transition: 0.3s;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}
a:hover{
    color: #47b2e4;
    cursor: pointer;
    text-decoration: underline;
}